.form-group {
    display: flex;
}
.form-group > div {
    border: solid 0.1em #eee;
    border-radius: 0.1em;
    padding: 0.3em;
}

.form-group > div:first {
    flex: 1;
}
.form-group > div:nth-child(2) {
    margin-left: 0.9em;
    flex: 2;
}

label {
    display: block;
}

select {
    border-radius: 4px;
    background-color: #eee;
    margin: 0.4em 0;
    padding: 0.4em 0.1em;
    width: 100%;
}

input[type=text] {
    border-radius: 4px;
    margin: 0.4em 0;
    padding: 0.4em 0.1em;
    width: 96%;
    text-align: center;
}

button {
    border-radius: 4px;
    padding: 0.4em 1em;
    cursor: pointer;
    border: none;
}
table {
    width: 100%;
}
h4 {
    margin: 0.5em;
}
td {
    text-align: center;
}
.inactive {
    background-color: #ddd;
    opacity: 0.5;
}
.teamMemberList {
    list-style-type: none;
}
.teamMember {

}
.pokemonActive {
    display: inline-block;
    width: 19px;
    height: 19px;
    cursor: pointer;
    vertical-align: middle;
    margin: -1px 4px 0 0;
}
.search-result {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

#search-box {
    width: 200px;
    height: 20px;
}
